@model aaaaaa.Movies

    <link href="~/Content/SearchBarTile.css" rel="stylesheet" type="text/css"/>
@{
    <div class="row asd">
        <img src=@Model.Poster alt="#" class="asd__img">
        <div class="col sa">
            <h4 class="asd__title">@Model.Title</h4>
            <p class="asd__description">@Model.Released</p>
        </div>
    </div>
}

