@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <style>
        .movieTable {
            margin-top: 20px;
            float: left;
            padding: 5px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            height: 100%;
            justify-content: center;
        }

        .myImg {
            margin: 10px 10px 10px 10px;
            width:150px;
            height:243px;
            transition: transform .2s
        }

        .myImg:hover {
            transform: scale(1.1);
        }

    </style>


<div class="movieTable">
    @{
        foreach (var movie in ViewBag.Movies)
        {
                <a href="@Url.Action("Info", "Movies", movie)">
                    <img class="myImg" src="@movie.Poster" alt="@movie.Title"/>
                </a>
        }
    }
</div>
