<link href="~/Content/SearchBar.css" rel="stylesheet" type="text/css" />

<div class="col1">
    <form action="~/Movies/InfoPost" method="post" name="movieForm">
        <input class="search" placeholder="Movie title" type="text" id="search" name="title" value="">
        <div id="suggestions"></div>
    </form>
</div>

<script src="~/Scripts/SearchBar.js"></script>
